a {
  text-decoration: none;
}
p {
  line-height: 1.6em;
}
header,
footer {
  background-color: #1f2937;
}
header {
  margin-top: -6%;
}
header h1 {
  font-size: 24px;
  color: #f9faf8;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
nav ul li a {
  font-size: 18px;
  color: #e5e7eb;
  display: inline;
  text-decoration: none;
}
nav {
  position: absolute;
  top: 1em;
  right: 7em;
  padding-right: 5em;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

.chamada {
  display: flex;
  padding: 0em 10em 5em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#hero {
  line-height: normal;
}

.leftSide p {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}
#subtext {
  padding: 0.5em 0 0 0;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  margin-right: 5em;
}

.signup {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 6px;
  margin-top: 1em;
  padding: 0.4em 2em;
}
#uppersignup {
  display: block;
  margin: auto;
  margin-top: 4em;
}
.formatacao-profissional-imagem img {
  max-width: 400px;
  max-height: auto;
  border-radius: 30px;
}
.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  margin: 0 4em 3em;
  text-align: center;
}
.infos img {
  max-width: 150px;
  max-height: auto;
}

#info {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
  padding-bottom: 1em;
  margin-top: 1.5em;
}

.quote {
  display: block;
  background-color: #e5e7eb;
  padding: 4em 8em;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
}
.quote small {
  display: flex;
  padding-top: 0.5em;
  justify-content: right;
  font-weight: bold;
}

.call-to-action {
  padding: 3em 8em;
  display: flex;
  background-color: #3882f6;
  margin: 5em 15em;
  border-radius: 10px;
  justify-content: space-between;
}

.call-to-action-leftbox {
  /* flex: 1; */
  padding: 1em 3em;
  display: inline-block;
}

.call-to-action-leftbox p {
  color: #e5e7eb;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  line-height: 3em;
}

.call-to-action-leftbox small {
  display: flex;
  color: #e5e7eb;
  line-height: 1.6em;
}
#bottom-signup {
  border-color: white;
  border-width: 3px;
  font-weight: bold;
  flex: 1;
  width: auto;
  height: auto;
  margin-top: 4em;
}

footer {
  padding: 1.5em 0;
  color: #e5e7eb;
  text-align: center;
}
